.footer
{
  overflow: hidden;
  position: sticky;
  top: 100%;
  padding: 15px 20px;
  text-align: center;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.text-danger {
  color: #f23a2e !important;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a {
  color: #8bc34a;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
img
{
  width: 20px;
  height: 20px;
}
